#Exp - 1 : Data preprocessing Techniques

In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

df = pd.read_csv('tested.csv')
print("Original Dataset :")
print(df.head())

print("\nDataset Info:")
print(df.info())

print("\nDescription of dataset :")
print(df.describe())

print("\nMissing Values:")
print(df.isnull().sum())

df.drop(columns = ['Cabin'], inplace = True)
imputer = SimpleImputer(strategy = 'mean')
df['Age'] = imputer.fit_transform(df[['Age']])
imputer = SimpleImputer(strategy = 'most_frequent')
df['Fare'] = imputer.fit_transform(df[['Fare']]).ravel()
print("\nAfter Handling Missing Data:")
print(df.isnull().sum())

categorical_cols = df.select_dtypes(include = 'object').columns.tolist()
print("\nCategorical Columns:", categorical_cols)
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)
df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)
print("\nAfter Encoding Categorical Variables and Dropping Irrelevant Columns:")
print(df.head())

numerical_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()
print("\nNumerical Columns:", numerical_cols)
scaler = StandardScaler();
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
print("\nAfter Scaling (StandardScaler):")
print(df[numerical_cols].head())

Y = df['Survived']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("\nShapes of Train/Test Sets:")
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", Y_train.shape)
print("y_test:", Y_test.shape)

Original Dataset :
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

Description of dataset :
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

After Handling Missing Data:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Categorical Columns: ['Name', 'Sex', 'Ticket', 'Embarked']

After Encoding Categorical Variables and Dropping Irrelevant Columns:
   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  \
0         0       3  34.5      0      0   7.8292      True        True
1         1       3  47.0      1      0   7.0000     False       False
2         0       2  62.0      0      0   9.6875      True        True
3         0       3  27.0      0      0   8.6625      True       False
4         1       3  22.0      1      1  12.2875     False       False

   Embarked_S
0       False
1        True
2       False
3        True
4        True

Numerical Columns: ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

After Scaling (StandardScaler):
   Survived    Pclass       Age     SibSp     Parch      Fare
0 -0.755929  0.873482  0.334993 -0.499470 -0.400248 -0.497063
1  1.322876  0.873482  1.325530  0.616992 -0.400248 -0.511926
2 -0.755929 -0.315819  2.514175 -0.499470 -0.400248 -0.463754
3 -0.755929  0.873482 -0.259330 -0.499470 -0.400248 -0.482127
4  1.322876  0.873482 -0.655545  0.616992  0.619896 -0.417151

Shapes of Train/Test Sets:
X_train: (334, 8)
X_test: (84, 8)
y_train: (334,)
y_test: (84,)